@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

$color: beige;
$background: #1c1c1c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $color;
}

header {
  overflow: hidden;
  z-index: 2;

  > div {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    height: 5vh;

    > a {
      display: flex;
      position: absolute;
      text-decoration: none;
      color: $color;
      font-size: 35px;
      left: 23%;
    }

    > nav {
      position: absolute;
      display: flex;
      left: 65%;

      #current {
        background-color: rgb(2, 77, 27);
        border-radius: 5px;

        &:hover {
          background: rgb(6, 141, 51);
        }
      }

      a {
        text-decoration: none;
        color: $color;
        margin: 0 15px;
        padding: 3px;
        transition: 0.5s;
        z-index: 3;

        &:hover {
          background: rgb(6, 141, 51);
          border-radius: 5px;
        }
      }
    }
  }
}

main {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/fondo.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  section {
    text-align: center;

    form {
      background: #535050;
      width: 100%;
      max-width: 700px;
      margin: auto;
      padding: 10px 20px;
      border-radius: 30px;
      margin-top: 60px;
      box-shadow: 2px 2px 2px green;

      h3 {
        font-size: 30px;
        color: $color;
        text-align: center;
      }

      label {
        display: block;
        color: $color;
        font-size: 20px;
        margin-top: 10px;
        position: relative;
      }

      input,
      textarea {
        background: #cbbbbb;
        border-bottom: 5px solid #000000;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 15px;
        color: rgb(0, 0, 0);
        resize: none;
      }

      .submit {
        width: 25%;
        background: #3d3a3a;
        color: $color;
        border-radius: 20px;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 5px solid #000000;
      }

      .submit:hover {
        color: greenyellow;
        background: #645c5c;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #1c1c1c;

  p {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

@media (max-width: 768px) {
  header > div {
    height: 6vh;

    > a {
      font-size: 20px;
      left: 10%;
    }

    > nav {
      left: 45%;

      > a {
        font-size: 15px;
      }
    }
  }

  main {
    height: auto;
    min-height: 94vh;

    > section > h1 {
      font-size: 30px;
    }

    > section > p {
      font-size: 16px;
    }
  }
}

@media (max-width: 425px) {
  header > div {
    height: 6vh;

    > a {
      font-size: 20px;
      left: 10%;
    }

    > nav {
      left: 25%;

      > a {
        font-size: 10px;
      }
    }
  }

  main {
    height: auto;
    min-height: 94vh;

    > section > h1 {
      font-size: 30px;
    }

    > section > p {
      font-size: 16px;
    }
  }
}
