@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

$color: beige;
$background: #1c1c1c;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  body {
    background: $background;
    color: $color;

    header {
      overflow: hidden;
      z-index: 2;

      div {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        height: 5vh;

        > a {
          display: flex;
          position: absolute;
          text-decoration: none;
          color: $color;
          font-size: 35px;
          left: 23%;
        }

        nav {
          position: absolute;
          display: flex;
          left: 65%;

          #current {
            background-color: rgb(2, 77, 27);
            border-radius: 5px;
          }

          #current:hover {
            background: rgb(6, 141, 51);
          }

          a {
            text-decoration: none;
            color: $color;
            margin: 0 15px;
            padding: 3px;
            transition: 0.5s;
            z-index: 3;
          }

          a:hover {
            background: rgb(6, 141, 51);
            border-radius: 5px;
          }
        }
      }
    }

    main {
      margin-left: auto;
      margin-right: auto;
      margin-top: 4%;
      width: 80vw;
      height: 70vh;
      overflow: hidden;
      border-radius: 15px;
      scroll-behavior: smooth;

      section {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0%;

        .item {
          position: relative;
          display: flex;
          width: 95%;
          height: 100%;
          left: 2.5%;
          overflow: hidden;

          img {
            display: block;
            margin: auto;
            width: 70%;
            height: auto;
            border-radius: 15px;
            border: 5px solid #0000003a;
          }

          h2 {
            position: absolute;
            left: 45.5%;
            top: 35%;
            text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
            font-size: 2rem;
            transition: 0.2s;
          }

          p {
            position: absolute;
            left: 33.5%;
            top: 45%;
            text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
            max-width: 34%;
            text-align: center;
            font-size: 1.1rem;
            transition: 0.2s;
          }
        }

        .arrows {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          > a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            text-shadow: #1c1c1c;
            transition: 0.5s;
            cursor: pointer;
          }
        }
      }
    }

    footer {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

    @media (max-width: 1850px) {
      main {
        // background-color: aqua;
        section {
          .item {
            h2 {
              transition: 0.3s ease-in-out;
              top: 30%;
            }

            p {
              transition: 0.3s ease-in-out;
              top: 40%;
            }
          }
        }
      }
    }

    @media (max-width: 1650px) {
      main {
        // background-color: aqua;
        section {
          .item {
            h2 {
              transition: 0.3s ease-in-out;
              top: 27%;
              left: 45%;
              font-size: 1.8rem;
            }

            p {
              transition: 0.3s ease-in-out;
              top: 35%;
              font-size: 1rem;
            }
          }
        }
      }
    }

    @media (max-width: 1350px) {
      header > div {
        height: 6vh;

        > a {
          font-size: 30px;
          left: 10%;
        }

        > nav {
          left: 50%;

          > a {
            font-size: 20px;
          }
        }
      }

      main {
        // background-color: aqua;
        section {
          .item {
            h2 {
              transition: 0.3s ease-in-out;
              top: 27%;
              left: 44.7%;
              font-size: 1.6rem;
            }

            p {
              transition: 0.3s ease-in-out;
              top: 35%;
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    @media (max-width: 1150px) {
      header > div {
        height: 6vh;

        > a {
          font-size: 30px;
          left: 10%;
        }

        > nav {
          left: 50%;

          > a {
            font-size: 20px;
          }
        }
      }

      main {
        // background-color: aqua;
        section {
          .item {
            h2 {
              transition: 0.3s ease-in-out;
              top: 27%;
              left: 43.1%;
              font-size: 1.5rem;
            }

            p {
              transition: 0.3s ease-in-out;
              top: 35%;
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    @media (max-width: 1000px) {
      header > div {
        height: 6vh;

        > a {
          font-size: 30px;
          left: 10%;
        }

        > nav {
          left: 50%;

          > a {
            font-size: 20px;
          }
        }
      }

      main {
        // background-color: aqua;
        section {
          .item {
            h2 {
              transition: 0.3s ease-in-out;
              top: 35%;
              font-size: 1.3rem;
            }

            p {
              transition: 0.3s ease-in-out;
              top: 42%;
              font-size: 0.7rem;
            }
          }

          .arrows {
            flex-direction: column;
          }
        }
      }
    }

    @media (max-width: 770px) {
      header > div {
        height: 6vh;

        > a {
          font-size: 20px;
          left: 10%;
        }

        > nav {
          left: 44%;

          > a {
            font-size: 15px;
          }
        }
      }
      
      main {
        // background-color: aqua;
        section {
          .item {
            h2 {
              transition: 0.3s ease-in-out;
              top: 35%;
              font-size: 1.3rem;
            }

            p {
              transition: 0.3s ease-in-out;
              top: 42%;
              font-size: 0.5rem;
            }
          }

          .arrows {
            flex-direction: column;
          }
        }
      }
    }

    @media (max-width: 610px) {
      header > div {
        height: 6vh;

        > a {
          font-size: 20px;
          left: 10%;
        }

        > nav {
          left: 45%;

          > a {
            font-size: 10px;
          }
        }
      }

      main {
        // background-color: aqua;
        section {
          .item {
            h2 {
              transition: 0.3s ease-in-out;
              top: 39%;
              left: 41.5%;
              font-size: 1.2rem;
            }

            p {
              transition: 0.3s ease-in-out;
              top: 43%;
              left: 23.2%;
              max-width: 40vw;
              font-size: 0.4rem;
            }
          }

          .arrows {
            flex-direction: column;
          }
        }
      }
    }

    @media (max-width: 425px) {
      header > div {
        height: 6vh;

        > a {
          font-size: 20px;
          left: 10%;
        }

        > nav {
          left: 25%;

          > a {
            font-size: 10px;
          }
        }
      }

      main {
        // background-color: aqua;
        section {
          .item {
            h2 {
              transition: 0.3s ease-in-out;
              top: 39%;
              left: 36.5%;
              font-size: 1.2rem;
            }

            p {
              transition: 0.3s ease-in-out;
              top: 43%;
              left: 23.2%;
              max-width: 40vw;
              font-size: 0.4rem;
            }
          }

          .arrows {
            flex-direction: column;
          }
        }
      }
    }
  }
}
